* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background: conic-gradient( rgb(0, 0, 0) 5%, rgb(150, 16, 212) 50% );
    background-size: 200% 200%;
    animation: BackgroundAnim 20s ease-in-out forwards;
}

/* Animation */
 @keyframes BackgroundAnim {
    0% {
        background-position: 0% 100%;
    }

    100% {
        background-position: 100% 0%;
    }
} 

.wrapper {
    max-width: 1200px;
    min-height: 220vh;
}

/* Header */
.wrapper .header {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px 0;
}

.wrapper .header a {
    margin: 0 50px 0 30px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.wrapper .header a:hover {
    cursor: pointer;
    text-decoration: underline 5px solid rgb(94, 0, 183);
}

.wrapper .header .logo-hit {
    width: 70px;
    transition: all 1s ease-in-out;
}

.wrapper .header .logo-hit:hover {
    transform: rotateY(180deg);
}

.wrapper .header .login {
    width: 50px;
}

.wrapper .header .login:hover {
    filter: brightness(150%);
}

.wrapper .header select  {
    background: none;
    border: none;
    color: rgb(52, 52, 198);
    font-size: 15px;
}

.wrapper .header select:hover {
    cursor: pointer;
}

.wrapper .header select:focus {
    outline: none;
}

/* Content-Center */

.content-center {
    justify-items: center;
    align-items: center;
    min-width: 1000px;
    min-height: 100vh;
    color: white;
}

.content-center .content-top {
    display: flex;
    align-items: center;
    background-image: url(/Project/HIT/Tour/Img/holiday-ops-2026_footer-bg_v1_2560x440.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 350px;
    width: 100%;
    justify-items:left;
}

.content-center .content-top img {
    margin-left: 50px;
    width: 25%;
}

.content-center .content-top p {
    width: 100%;
    padding: 135px;
    text-align:right;
    font-size: 30px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 3.5px;
    background-color: white(255, 255, 255, 0.5);
    backdrop-filter: blur(1.5px);
}

.content-center .content-top p small {
    color: rgb(237, 237, 45);
}

.content-center .content-midl {
    margin: 0 30px 0 30px;
}

.content-center .content-midl, ul, span {
    font-size: 20px;
    flex-wrap: wrap;
    line-height: 35px;
    letter-spacing: 2px;
}

.content-center .content-midl .prize .table-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.content-center .content-midl .prize .table-1, th, td  {
    text-align: center;
    padding: 10px;
}

.content-center .content-midl .prize .table-1 .team {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    height: 95px;
}

.content-center .content-midl .prize .table-1, th, .team img {
    width: 25px;
}

.prize .table-1 thead th {
    background-color: rgb(69, 69, 69);
}

.prize .table-1 tbody .st1 th {
    background-color: goldenrod;
}

.prize .table-1 tbody .st2 th {
    background-color: silver;
}

.prize .table-1 tbody .st3 th {
    background-color: rgb(187, 101, 61);
}

.prize .table-1 tbody .st4 th {
    background-color: rgb(113, 68, 51);
}

.prize .table-1 tbody .st1 td  {
    border-bottom: 5px solid goldenrod;
}

.prize .table-1 tbody .st2 td {
    border-bottom: 5px solid silver;
}

.prize .table-1 tbody .st3 td {
    border-bottom: 5px solid rgb(187, 101, 61);
}

.prize .table-1 tbody .st4 td {
    border-bottom: 5px solid rgb(113, 68, 51);
}

.content-center .content-midl .prize .table-block .table-2 tbody td {
    font-size: 15px;
    border: 1px solid rgb(68, 68, 68);
}

.content-center .content-midl .prize .table-2 thead th,
.content-center .content-midl .prize .table-3 thead th {
    background-color: rgb(69, 69, 69);
}

.content-center .content-midl .prize .table-block .table-3 {
    margin-top: 50px;
    grid-column: span 2;
}

.content-center .content-midl .prize .table-block .table-3 tbody .bonds div,
.content-center .content-midl .prize .table-block .table-3 tbody .gold div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-center .content-midl .prize .table-block .table-3 tbody .bonds img,
.content-center .content-midl .prize .table-block .table-3 tbody .gold img {
    width: 25%;
}

.content-center .content-midl .prize .table-block .table-2 tbody .st1,
.content-center .content-midl .prize .table-block .table-3 tbody .st1 {
    background-color: goldenrod;
}

.content-center .content-midl .prize .table-block .table-2 tbody .st2,
.content-center .content-midl .prize .table-block .table-3 tbody .st2 {
    background-color: silver;
}

.content-center .content-midl .prize .table-block .table-3 tbody .st3 {
    background-color:rgb(0, 204, 136);
}

.content-center .content-midl .prize .table-block .table-3 tbody .st5 {
    background-color:rgb(0, 153, 102);
}

.partic {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

.partic .partic-logo {
    display: block;
    justify-items: center;
    align-items: center;
}

.partic .partic-logo .partic-info {
    position: relative;
}

.partic .partic-logo .partic-info .txt {
    font-size: 10px;
    text-align: center;
}

.partic .partic-logo .partic-info table {
    position: absolute;
    opacity: 0;
    bottom: 30px;
    background-color: rgba(0, 0, 0, 0.641);
}

.partic .partic-logo .partic-info:hover table {
    opacity: 1;
} 

.partic .partic-logo .partic-info table tr td {
    display: flex;
    align-items: center;
    width: 200px;
    height: 27px;
    font-size: 10px;   
}

.partic .partic-logo p img,
.partic .partic-logo .partic-info table tr td img {
    width: 20px;
}

.partic .partic-logo .partic-info img {
    width: 200px;
} 

.partic .partic-logo .partic-info .cash {
    width: 150px;
}

.content-center .format h1,
.content-center .result h1 {
    text-align: center;
    border-left: 2px solid blueviolet;
    border-right: 2px solid  blueviolet;
}

.content-center .format .li-h1 {
    font-size: 20px;
    line-height: 70px;
    font-weight: bold;
}

.content-center .format ul li {
    font-size: 15px;
}

/* Results */
.content-center .result .table-3 {
    padding: 10px;
}

.content-center .result .table-3 thead th {
    width: 150px;
    background-color: rgb(69, 69, 69);
}

.content-center .result .table-3 tbody tr .round img,
.content-center .result .table-3 tbody tr .part img {
    width: 25%;
}

.content-center .result .table-3 tbody tr .part img {
    width: 15%;
}

.content-center .result .table-3 tbody tr .round {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;

}

.content-center .result .table-3 tbody tr .part {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    width: 200px;
    font-size: 18px;
}

.content-center .result .table-3 tbody td {
    background-color: rgba(69, 69, 69, 0.488);
    transition: all 0.3s ease-in-out;
}

.content-center .result .table-3 tbody .g-blue {
    background-color: #112d30;
}

.content-center .result .table-3 tbody .green {
    background-color:#0c4a0f;
}

.content-center .result .table-3 tbody .d-green {
    background-color:#253415 ;
}

.content-center .result .table-3 tbody .red {
    background-color:#360e0d ;
}

.content-center .result .table-3 tbody td:hover {
    transform: scale(1.3);
    box-shadow: 1px 1px 5px 1px white;
    cursor: pointer;
}


/* Scroll-number */
.content-center .scroll-number {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 20px 0 20px 0;
    overflow-x: scroll;
}

.content-center .scroll-number::-webkit-scrollbar {
    display: none;
}

.content-center .scroll-number::-webkit-scrollbar-thumb {
    display: none;
}
.content-center .scroll-number a {
    padding: 5px 10px 5px 10px;
    margin-left: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.36);
}

.content-center .scroll-number a:hover {
    background-color: rgba(255, 255, 255, 0.492);
}

/* Footer */
.footer {
    position: relative;
    min-height: 175px;
    top: 100px;
    padding: 20px;
    color: white;
    border-left: 2px solid blueviolet;
    border-right: 2px solid blueviolet;
}

.footer .foot-txt {
    font-size: 20px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.49);
}

.footer .link {
    display: flex;
    justify-content: left;
    align-items: center;
}

.footer .link img {
    width: 50px;
}

.footer .link a {
    display: flex;
    text-decoration: none;
    margin-left: 200px;
    color: white;
    font-weight: bold;
}

.footer .link a:hover {
    filter: brightness(150%);
}

.footer-2 {
    display: flex;
}

.footer-2 div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: gray;
    font-weight: bold;
}

.footer-2 div img {
    width: 20px;
    margin: 10px;
    filter: grayscale(100%);
}

/* Footer */