* {box-sizing: border-box;
}

        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Arial, Helvetica, sans-serif;
            min-height: 130vh;
            background: linear-gradient( rgb(0, 0, 0) 20%, rgb(150, 16, 212) 50% );
            background-size: 200% 200%;
            animation: BackgroundAnim 20s ease-in-out infinite;
        }

        .wrapper {
            display: inline;
            justify-items: center;
            align-items: center;
            min-width: 500px;
            min-height: 650px;
            background-color: rgba(0, 0, 0, 0.459);
            box-shadow: 1px 0px 40px 1px rgb(150, 16, 212);
            border-radius: 20px;
        } 

         .logo-div {
            color: white;
            font-weight: bold;
            font-size: 25px;
            justify-items: center;
            align-items: center;
            text-align: center;
         }

        .logo-div small {
            font-size: 15px;
            color: gray;
          }

        .logo-div img {
            width: 100px;
            margin: 25px 0 0 0;
            animation: Image 5s infinite;
        }

        .login-div form {
            display: grid;
            padding: 10px;
        }

        .login-div form .data {
            min-width: 300px;
            min-height: 40px;
            padding: 20px;
            margin: 15px 0 0 0;
            color: white;
            background: rgba(0, 0, 0, 0.367);
            border: none;
            border-radius: 10px;
            box-shadow: 0.5px 0px 5px 0.5px rgb(81, 1, 155);
        }

        .login-div form input:focus {
            outline: 3px solid rgb(81, 1, 155);
            transition: all 0.5s ease-in-out;
        }

        .login-div form button {
            color: white;
            font-weight: bolder;
            font-size: 15px;
            background-color: rgb(116, 13, 164);
            border-radius: 10px;
            border: none;
            padding: 15px;
            margin: 20px 0 30px 0;
            min-width: 300px;
            min-height: 40px;
            transition: all 0.5s ease;
        }

         .login-div form button:hover {
            cursor: pointer;
            transform: scale(1.1);
            box-shadow: 3px 2px 0px 2px rgba(0, 0, 0, 0.367);
         }

          .login-div form button:active {
            background-color: rgb(151, 21, 210);
            transform: scale(1);
            box-shadow: none;
          }

          .login-div form {
            display: grid;
            color: white;
          }

          .login-div form .radio div {
            margin: 15px 0 10px 0;
          }

          .login-div form .radio input[type="checkbox"] {
            width: 15px; 
            height: 15px; 
            border: 1px solid blueviolet;
            border-radius: 25%;
            accent-color: blueviolet;
          }

          .login-div .log a img {
            width: 50px;
            margin-left: 40px
          }

          .login-div .log a img:hover {
            transform: scale(1.1);
            filter:brightness(150%);
          }

          .login-div .log p {
            text-align: center;
            color: gray;
          }

    
        @keyframes BackgroundAnim {
            0% {
                background-position: 0% 100%;
            }

            50% {
                background-position: 100% 0%;
            }

            100% {
                background-position: 0% 100%;
            }
        }

        @keyframes Image {
            from {
                transform: rotateY(0deg);
            }

            to {
                transform: rotateY(360deg);
            }
}