* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background: conic-gradient( rgb(0, 0, 0) 5%, rgb(150, 16, 212) 50% );
    background-size: 200% 200%;
    animation: BackgroundAnim 20s ease-in-out forwards;
}

/* Animation */
 @keyframes BackgroundAnim {
    0% {
        background-position: 0% 100%;
    }

    100% {
        background-position: 100% 0%;
    }
} 

.wrapper {
    max-width: 1200px;
    min-height: 220vh;
}

/* Header */
.wrapper .header {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px 0;
}

.wrapper .header a {
    margin: 0 50px 0 30px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.wrapper .header a:hover {
    cursor: pointer;
    text-decoration: underline 5px solid rgb(94, 0, 183);
}

.wrapper .header .logo-hit {
    width: 70px;
    transition: all 1s ease-in-out;
}

.wrapper .header .logo-hit:hover {
    transform: rotateY(180deg);
}

.wrapper .header .login {
    width: 50px;
}

.wrapper .header .login:hover {
    filter: brightness(150%);
}

.wrapper .header select  {
    background: none;
    border: none;
    color: rgb(52, 52, 198);
    font-size: 15px;
}

.wrapper .header select:hover {
    cursor: pointer;
}

.wrapper .header select:focus {
    outline: none;
}

/* Center-Content */

.center-content {
    display: inline;
    justify-items: center;
    align-items: center;
    min-width: 1000px;
    min-height: 100vh;
    color: white;
}

.center-content .logotype {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    animation: Logo-anim 5s ease-in-out infinite;
}

.logotype img {
    width: 300px;
}

@keyframes Logo-anim {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    } 
}

.center-content .info-team {
    display: grid;
    flex-wrap: wrap;
    padding: 25px;
}

.center-content .info-team h1 {
    text-align: center;
    border-left: 2px solid blueviolet;
    border-right: 2px solid blueviolet;
}

.center-content .info-team p {
    text-align: justify;
    line-height: 30px;
}
/* Team */
.center-content .team-roster {
    padding: 20px;
}

.center-content .team-roster-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-weight: bold;
    margin-top: 50px;
}

.center-content .team-roster h1 {
    text-align: center;
    border-left: 2px solid blueviolet;
    border-right: 2px solid blueviolet;
}

.center-content .team-member {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 2px dashed white;
}

.center-content .team-roster .team-member .member {
   margin-right: 60px;
}

.center-content .team-roster .team-member .member img {
    width: 100px
}

.center-content .team-roster .team-member .member .img-150px {
    width: 150px
}

.center-content .team-roster .team-member .member .img-250px {
    width: 250px
}

.center-content .team-roster .team-member .member {
    display: block;
    justify-items: center;
}

.center-content .team-roster .team-member .info-member img {
    width: 20px;
    margin: 0 5px 0 5px;
}

.center-content .team-roster .team-member .info-member {
    line-height: 40px;
}

/* Footer */
.footer {
    position: relative;
    min-height: 175px;
    top: 100px;
    padding: 20px;
    color: white;
    border-left: 2px solid blueviolet;
    border-right: 2px solid blueviolet;
}

.footer .foot-txt {
    font-size: 20px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.49);
}

.footer .link {
    display: flex;
    justify-content: left;
    align-items: center;
}

.footer .link img {
    width: 50px;
}

.footer .link a {
    display: flex;
    text-decoration: none;
    margin-left: 200px;
    color: white;
    font-weight: bold;
}

.footer .link a:hover {
    filter: brightness(150%);
}

.footer-2 {
    display: flex;
}

.footer-2 div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: gray;
    font-weight: bold;
}

.footer-2 div img {
    width: 20px;
    margin: 10px;
    filter: grayscale(100%);
}

/* Footer */

